
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-image: url('images/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    overflow: hidden;
}

.project{
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
}

.project-item{
    float: left;
    height: 200px;
    width: 32.8%;
    background-image: url('images/bg4.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: aliceblue;
    margin: 3px;
}

.footer{
    height: 150px;
    background-color: rgb(66, 49, 49);
    color: aliceblue;
}

.footer-item{
    margin-top: 10px;
    width: 33.33%;
    float: left;
}

.link{
    text-decoration: none;
    color: tomato;
    display: block;
    margin-top: 2px;
}

.copy-right{
    background-color: rgb(66, 49, 49);
    color: aliceblue;
    text-align: center;
}

/*Responsive...*/

@media screen and (max-width:1200px){
    .hero{
        color: green;
    }
}

@media screen and (max-width:1124px) {
    .project-item{
        width: 32.5%;
    }
}

@media screen and (max-width:720px) {
    .project-item{
        width: 32.3%;
    }
}

@media screen and (max-width:580px) {
    .project-item{
        width: 32%;
    }
}

@media screen and (max-width:450px) {
    .project-item{
        width: 48%;
    }
}

@media screen and (max-width:345px) {
    .project-item{
        width: 99%;
    }

    .hero{
        height: 150px;
    }
}


@media screen and (max-width:790px) {
    .footer-item{
        font-size: 15px;
        overflow: hidden;
    }
}

@media screen and (max-width:750px) {
    .footer-item{
        font-size: 10px;
        overflow: hidden;
    }
}

@media screen and (max-width:360px) {
    .footer-item{
        width: 100%;
        text-align: center;
    }

    .footer{
        height: 150px;
    }
}
